body {
    text-align: center;
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title {
    color: rgb(80, 80, 136);
    background-color: white;
    box-shadow: 20px 10px 60px 5px inset;
}

nav {
    background-color: white;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    font-style: italic;
    color: rgb(80, 80, 136);
    margin: 0 15px;
}

nav a:hover {
    color: rgb(39, 2, 73);
}

.flex {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.container1 {
    text-align: left;
    color: rgb(80, 80, 136);

}

.container2 {
    color: rgb(80, 80, 136);
}

h2 {
    font-size: 20px;
}


.flex-item img {
    height: 100%;
    width: 100%;
}

.flex-item {
    width: 350px;
    height: 460px;
    border: 2px solid rgb(80, 80, 136);
    margin: 10px 0;
}

.footer {
    color: rgb(80, 80, 136);
}

@media (max-width:768px) {
    .flex-item {
        width: 150px;
        height: 200px;
    }
}

.backpack {
    text-align: right;
}