.box {
    background: red;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.box:last-child {
    height: 200px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}