header {
    text-align: center;
}

header img {
    height: 50px;
}

nav {
    background: rgb(62, 190, 62);
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

section.grey {
    padding: 20px;
    background: #eee;
}

section.green {
    padding: 20px;
    background: rgb(88, 131, 88);
}


section img {
    width: 100%;
}

h2 {
    background: rgb(62, 190, 62);
    color: white;
    padding: 10px;
    margin-top: 0;
}

.green h2 {
    margin-top: 20px;
}